# Copy to proxmox.tf when enable_proxmox_resources = true (see README "GitLab auf Proxmox").
# Also copy: provider_proxmox.tf.example, proxmox_variables.tf.example, outputs_proxmox.tf.example.

module "proxmox" {
  count  = var.enable_proxmox_resources ? 1 : 0
  source = "./modules/proxmox"

  node                    = var.proxmox_node
  runner_node             = var.proxmox_runner_node
  api_url                 = var.proxmox_api_url
  api_token               = var.proxmox_api_token
  api_token_id            = var.proxmox_api_token_id
  tls_insecure            = var.pm_tls_insecure
  gitlab_docker_enabled   = var.proxmox_gitlab_docker_compose_enabled
  gitlab_docker_user_data = local.gitlab_docker_user_data
  cloud_init_snippet_name = var.proxmox_cloud_init_snippet_name
  snippet_storage         = var.proxmox_snippet_storage
  enable_clone            = var.proxmox_enable_clone
  enable_runner           = var.proxmox_enable_runner
  gitlab_ipconfig0        = var.proxmox_gitlab_ipconfig0
  runner_ipconfig0        = var.proxmox_runner_ipconfig0
  ssh_public_key          = local.ssh_public_key_effective
  ciuser                  = var.ciuser
  cipassword              = var.cipassword
  nameserver              = var.nameserver
  searchdomain            = var.searchdomain
  clone_template          = var.clone_template
  clone_full              = var.clone_full
  vm_qemu_os              = var.vm_qemu_os
  vm_bios                 = var.vm_bios_host
  gitlab_cores            = var.vm_host_cores
  gitlab_sockets          = var.vm_host_sockets
  gitlab_memory           = var.vm_host_memory
  runner_cores            = var.vm_default_cores
  runner_sockets          = var.vm_default_sockets
  runner_memory           = var.vm_default_memory
  disk_storage            = var.vm_default_storage
  disk_size               = var.vm_default_disk_size
  network_bridge          = var.vm_default_bridge
  scsihw                  = var.scsihw
  bootdisk                = var.bootdisk
}
